@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --color-primary-cyan: hsl(180, 66%, 49%);
  --color-primary-dark-violet: hsl(257, 27%, 26%);
  --color-secondary-red: hsl(0, 87%, 67%);
  --color-gray: #f0f1f6;
  --color-title: hsl(260, 8%, 14%);
  --color-text: hsl(257, 7%, 63%);
  --color-very-dark-blue: hsl(255, 11%, 22%);
  /* Size */
  --max-width: 1200px;
  /* Font */
  --main-font: "Poppins", sans-serif;
  --font-base: 16px;
  --font-size-title: 2.8rem;
  --font-size-subtitle: 1.8rem;
  --font-size-text: 1rem;
}
body {
  font-family: var(--main-font);
  font-weight: 500;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-title);
  margin-bottom: 1.2rem;
}
h1 {
  font-size: var(--font-size-title);
  line-height: 1.1;
}
h2 {
  font-size: var(--font-size-subtitle);
}
p {
  color: var(--color-text);
  margin-bottom: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid {
  /* align-items: center; */
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.main-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}
.grid-columns-2 {
  padding-top: 3rem;
}
.main-menu__logo {
  width: 150px;
}
.form-group {
  text-align: left;
}
.form-group small {
  color: var(--color-secondary-red);
  display: none;
  font-style: italic;
}
.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  font-size: 1.1rem;
  padding: 0.8rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  margin-bottom: 0.5rem;
}
.form-control:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.2rem var(--color-primary-cyan);
  outline: 0;
}
.form-control.is-invalid {
  border-color: var(--color-secondary-red);
  box-shadow: 0 0 0 0.2rem var(--color-secondary-red);
  outline: 0;
}
#content-short-url {
  display: flex;
  flex-direction: column-reverse;
}
.grid-short-url {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}
.grid-short-url-item {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  text-align: left;
}
.grid-short-url-item a {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.grid-short-url-item a:nth-child(1) {
  color: var(--color-title);
}
.grid-short-url-item a:nth-child(3) {
  color: var(--color-primary-cyan);
}
.grid-statistics {
  display: grid;
  gap: 5rem;
}
.grid-item-statistics {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
}
.grid-item-statistics:nth-child(1):after,
.grid-item-statistics:nth-child(2):after {
  background-color: var(--color-primary-cyan);
  bottom: -2rem;
  content: "";
  display: inline-block;
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(-90deg);
  width: 5.5rem;
  z-index: -1;
}
.grid-item-statistics > div {
  background-color: var(--color-primary-dark-violet);
  border-radius: 50%;
  display: inline-block;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: -2rem;
  transform: translateX(-50%);
}
.grid-item-statistics img {
  width: 60px;
}
.grid-footer {
  display: grid;
  gap: 3rem;
  padding: 4rem 2rem;
}
.grid-footer-item h5 {
  color: #ffffff;
  font-size: 1.2rem;
}
.grid-footer-item a {
  color: var(--color-text);
  display: inline-block;
  margin-bottom: 0.8rem;
}
.grid-footer-item img {
  width: 150px;
  margin-bottom: 1.5rem;
}
.grid-footer-item:last-child ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.grid-footer-item:last-child ul img {
  width: 28px;
}
/* Utilities class */
.top-form {
  margin-top: -5rem;
  padding-top: 10rem;
  position: relative;
  z-index: 1;
}
.btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.btn-primary {
  color: #fff;
  background-color: var(--color-primary-cyan);
  border-color: var(--color-primary-cyan);
}
.bg-abstract,
.bg-abstract-2 {
  background-color: var(--color-primary-dark-violet);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.bg-abstract {
  background-image: url("../img/bg-shorten-mobile.svg");
  border-radius: 20px;
  padding: 2rem;
}
.bg-abstract-2 {
  padding: 4rem 2rem;
  background-image: url("../img/bg-boost-mobile.svg");
}
.w-100 {
  width: 100%;
}
.border-radius-small {
  border-radius: 4px;
}
.pb-100 {
  padding-bottom: 6.25rem;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: var(--color-gray);
}
.bg-dark {
  background-color: hsl(260, 8%, 14%);
}
.forward {
  position: relative;
  z-index: 2;
}
.text-white {
  color: #ffffff;
}
/* Loader */
.lds-ellipsis {
  /* display: none; */
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis.is-hide {
  display: none !important;
}
.lds-ellipsis.is-show {
  display: inline-block;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-primary-cyan);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Media Queries */
@media (min-width: 768px) {
  :root {
    --font-size-title: 3rem;
    --font-size-subtitle: 2rem;
  }
  .grid {
    text-align: left;
    gap: 2rem;
  }
  .grid-columns-2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 5rem;
  }
  .grid-columns-2-1 {
    grid-template-columns: 4fr 1fr;
  }
  .grid .grid-item:first-child {
    order: 2;
  }
  .grid-short-url-item {
    grid-template-columns: 3fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 1rem 2rem;
  }
  .grid-short-url-item a {
    margin-bottom: 0;
  }
  .grid-statistics {
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .grid-item-statistics {
    text-align: left;
    padding-top: 5rem;
  }
  .grid-item-statistics:nth-child(1):after,
  .grid-item-statistics:nth-child(2):after {
    bottom: 50%;
    height: 6px;
    left: 100%;
    transform: translateY(-50%) rotate(0deg);
  }
  .grid-item-statistics:nth-child(2) {
    margin-top: 3rem;
  }
  .grid-item-statistics:nth-child(3) {
    margin-top: 6rem;
  }
  .grid-item-statistics > div {
    left: 10%;
    transform: translateX(-10%);
  }
  .grid-footer {
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  }
  .grid-footer-item:first-child {
    text-align: left;
  }
  .grid-footer-item:last-child ul img {
    width: 20px;
  }
  .grid-footer-item:last-child ul {
    text-align: right;
  }
  .bg-abstract {
    background-image: url("../img/bg-shorten-desktop.svg");
    border-radius: 20px;
  }
  .bg-abstract-2 {
    background-image: url("../img/bg-boost-desktop.svg");
  }
  hr {
    display: none;
  }
}
@media (min-width: 900px) {
  :root {
    --font-size-title: 3.5rem;
    --font-size-subtitle: 2.4rem;
  }
}